<div class="flex flex-col h-[calc(100vh-78px)] justify-between">
    <div class="w-full flex-1 overflow-y-auto gap-y-3">
        @for (q of quotes(); track q.id) {
        <div class="p-4 border-b border-gray-600">
            <div class="relative rounded-md">
                <img src="{{q.mediaUrl}}" alt="" class="w-full h-48 object-cover">
                <div
                    class="text-[#191919] text-lg font-bold absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
                    {{q.text}}</div>

            </div>
            <div class="text-gray-400 text-sm">Quote by {{q.username}} on {{q.createdAt | date: 'dd-MM-yyyy'}}</div>
        </div>
        } @empty {
        <div class="p-4 border-b border-gray-600">
            <div class="text-white text-lg font-bold">No Quotes</div>
            <div class="text-gray-400 text-sm">No Quotes</div>
        </div>
        }
    </div>
    <mat-paginator [length]="1000" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
    </mat-paginator>
</div>